# Byte-compiled / cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.env/
.env*/
.venv/
.venv*/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Logs and dumps
*.log
*.out

# OS-specific files
.DS_Store
Thumbs.db

# IDE/editor settings
.vscode/
.idea/
*.sublime-*
